<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OpenCsvByExcel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <OpenCsvByExcel.Properties.Settings>
            <setting name="CsvExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.csv</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TsvExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.tsv</string>
                        <string>.tab</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ParallelOpen" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FallbackCharset" serializeAs="String">
                <value>Shift_JIS</value>
            </setting>
            <setting name="MaxColumnSize" serializeAs="String">
                <value>2048</value>
            </setting>
        </OpenCsvByExcel.Properties.Settings>
    </applicationSettings>
</configuration>
